body {
    opacity: 0;
    animation: ani 0.5s forwards;
    animation-timing-function: linear;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #54B0FF;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    width: 98%;
    height: 100px;
    background-color: #A8E4A0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

header button {
    width: 200px;
    height: 50px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

header button:hover {
    transition: 0.5s;
    background-color: #A8E4A0;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 820px;
    border: 3px solid;
    background-color: #7AC7FA;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.divFormChange {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divFormChangeOuter:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-top: 30px;
}

.divFormChangeOuter:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-top: 30px;
}

.divFormChangeInnerTitle {
    width: 100%;
    height: 206px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.divFormChangeInnerOptionDelete {
    width: 100%;
    border: 2px solid black;
}

.headTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
}

.title {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    background-color: lightsteelblue;
    border-top: 2px solid black;
    padding-left: 10px;
}

.optionDeleteTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #A8E4A0;
    color: black;
    border-bottom: 2px solid black;
}

#divAddedOptionsDelete {
    height: 350px;
    overflow: auto;
    background-color: wheat;
}

#divAddedOptionsDelete table {
    margin: 20px;
    border: 2px solid;
    background-color: #A8E4A0;
}

#divAddedOptionsDelete table td:first-child {
    width: 300px;
    height: 50px;
    text-align: center;
    border: 2px solid;
}

#divAddedOptionsDelete table td:nth-child(2) {
    width: 50px;
    height: 50px;
    padding-left: 30px;
    background-color: royalblue;
    border: 2px solid;
}

#divAddedOptionsDelete table td:nth-child(2) input {
    transform: scale(2);
}

.divFormChangeInner {
    border: 2px solid black;
}

.divFormChangeInner:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 370px;
    background-color: wheat;
    overflow: auto;
}

.divFormChangeInner:nth-child(4) {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: wheat;
    overflow: auto;
    flex-wrap: wrap;
}

.divFormChangeOuter:nth-child(2) .headTitle:first-child {
    width: 100%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.divFormChangeOuter:nth-child(2) .headTitle:nth-child(3) {
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.tableTariffs {
    width: 300px;
    margin: 20px 30px;
    border: 2px solid black;
    background-color: darkgrey;
}

.titleTd {
    height: 40px;
    text-align: center;
    background-color: #A8E4A0;
    border: 2px solid black;
}

.listOfOptions {
    height: 100px;
    overflow: auto;
    background-color: lightsteelblue;
    border: 2px solid black;
}

.tableTariffs tr:nth-child(2) td {
    height: 40px;
    text-align: center;
    background-color: wheat;
    border: 2px solid black;
}

.tableTariffs tr:last-child td {
    text-align: center;
    height: 40px;
    background-color: royalblue;
    color: white;
    border: 2px solid black;
}

.tableTariffs tr:last-child td input {
    margin-left: 10px;
    transform: scale(2);
}

.tableOptions {
    background-color: #A8E4A0;
    border: 2px solid black;
    margin: 30px;
}

#options {
    width: 40%;
}

.tableOptions td:first-child {
    width: 300px;
    height: 50px;
    text-align: center;
    border: 2px solid;
}

.tableOptions td:nth-child(2) {
    width: 50px;
    height: 50px;
    padding-left: 30px;
    background-color: royalblue;
    border: 2px solid;
}

.tableOptions input {
    transform: scale(2);
}

.changeButton {
    margin-top: 50px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
}

.changeButton:hover {
    transition: 1s;
    background-color: #A8E4A0;
    color: black;
}

#ifNewOptionsEmpty {
    width: 70%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-align: center;
    margin-top: 50px;
    border: 2px solid black;
    background-color: yellow;
    font-weight: bold;
}

