body {
    opacity: 0;
    animation: ani 0.5s forwards;
    animation-timing-function: linear;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #54B0FF;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    width: 98%;
    height: 100px;
    background-color: #A8E4A0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

header button {
    width: 200px;
    height: 50px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    transition: 1s;
    background-color: greenyellow;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 820px;
    border: 3px solid;
    background-color: #7AC7FA;
    overflow: auto;
}

.divOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 600px;
    background-color: wheat;
    margin:40px;
    padding: 20px;
    border: 2px solid black;
}

.title {
    width: 410px;
    height: 40px;
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    background-color: #7AC7FA;
    border: 2px solid black;
    padding-top: 15px;
}

.divOuter table td {
    width: 200px;
    height: 50px;
    background-color: darkgrey;
    color: black;
    border: 2px solid black;
    font-size: 18px;
}

.divOuter table div {
    text-align: center;
}

.divOuter button {
    margin-top: 15px;
    width: 414px;
    height: 50px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    font-size: 18px;
}

.divOuter button:hover {
    background-color: #A8E4A0;
    color: black;
}
