body {
    opacity: 0;
    animation: ani 0.5s forwards;
    animation-timing-function: linear;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #54B0FF;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    width: 98%;
    height: 100px;
    background-color: #A8E4A0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

header button {
    width: 200px;
    height: 50px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    transition: 1s;
    background-color: greenyellow;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 820px;
    border: 3px solid;
    background-color: #7AC7FA;
}

.DivShowContract {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 650px;
    margin-top: 40px;
    padding-top: 50px;
    background-color: wheat;
    border: 2px solid;
    overflow: auto;
}

table td:not(.listOfOptionsTd){
    text-align: center;
    width: 200px;
    height: 20px;
    padding: 20px;
    font-size: 18px;
    border: 2px solid;
    background-color: darkgrey;
}

.buttons {
    margin-top: 20px;
}

.buttons button{
    height: 50px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}

#changeButton{
    width: 490px;
}

.statusButton {
    width: 245px;
}

.buttons button:hover {
    background-color: #A8E4A0;
    color: black;
}

.listOfOptionsTd {
    background-color: #7AC7FA;
    border: 2px solid black;
    text-align: left;
    width: 400px;

}
.listOfOptions {
    height: 100px;
    overflow: auto;
    font-size: 18px;
}

.contractInfo {
    width: 466px;
    height: 30px;
    padding: 10px;
    text-align: center;
    background-color: #A8E4A0;
    color: black;
    border: 2px solid;
    font-size: 18px;
}

.noOptionsText {
    height: 30px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}