<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/optionsAdmin.css">
</head>
<body>
<header>
    <button onclick="location.href='/home'">Домашняя</button>
    <button onclick="location.href='/admin/clients'">Пользователи</button>
    <button onclick="location.href='/admin/tariffs'">Тарифы</button>
    <button onclick="location.href='/admin/options'">Опции</button>
    <button onclick="location.href='/admin/conclusionContract'">Заключение контракта</button>
    <form th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main>
    <div class="outerDiv">
        <div class="title">Текущие опции:</div>
        <div class="innerDiv">
            <table>
                <th>Название</th>
                <th>Платеж</th>
                <th>Стоимость подключения</th>
                <th>Статус</th>
                <th>Операция</th>
            </table>
            <div th:each="option : ${options}">
                <table>
                    <tr>
                        <td>
                            <div th:text="${option.getName()}"></div>
                        </td>
                        <td>
                            <div th:text="${option.getPayment()}"></div>
                        </td>
                        <td>
                            <div th:text="${option.getConnectionPrice()}"></div>
                        </td>
                        <td>
                            <div th:if="${!((option.getTariffsDTO().size()==0)&&(option.getContractsDTO().size()==0))}"
                                 class="useful">
                                Данная опция используется
                            </div>
                            <div th:if="${((option.getTariffsDTO().size()==0)&&(option.getContractsDTO().size()==0))}"
                                 class="useless">
                                Данная опция не используется
                            </div>
                        </td>
                        <td>
                            <form th:method="GET" th:action="@{/admin/editOption/{name}(name=${option.getName()})}">
                                <button class="currentOptionButton">Изменить</button>
                            </form>
                            <form th:method="GET"
                                  th:action="@{/admin/deleteOption/{optionName}(optionName=${option.getName()})}"
                                  th:if="${((option.getTariffsDTO().size()==0)&&(option.getContractsDTO().size()==0))}">
                                <button class="currentOptionButton">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="outerDiv">
        <div class="title">Создать опцию</div>
        <div class="innerDiv">
            <form th:method="POST" th:action="@{/admin/createOption}" class="createForm">
                <table class="createTable">
                    <tr>
                        <td>
                            <label>Название</label>
                        </td>
                        <td>
                            <input type="text" name="name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Платеж</label>
                        </td>
                        <td>
                            <input type="text" name="payment" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Стоимость подключения</label>
                        </td>
                        <td>
                            <input type="text" name="connectionPrice" required>
                        </td>
                    </tr>
                </table>
                <button>Создать</button>
            </form>
            <div th:if="${!mayBeSave}" class="errorInfo">Такое название уже существует</div>
        </div>
    </div>
</main>
</body>
</html>