<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <link rel="stylesheet" type="text/css" href="../css/adminClients.css">
</head>
<body>
<header>
    <button onclick="location.href='/home'">Домашняя</button>
    <button onclick="location.href='/admin/clients'">Пользователи</button>
    <button onclick="location.href='/admin/tariffs'">Тарифы</button>
    <button onclick="location.href='/admin/options'">Опции</button>
    <button onclick="location.href='/admin/conclusionContract'">Заключение контракта</button>
    <form th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main>
    <div class="containerClients">
        <form th:method="POST" th:action="@{/admin/clients}">
            <input type="text" name="finder" placeholder="Отображение всех: введите «all»">
            <button>Найти</button>
        </form>
        <div class="title">Клиенты:</div>
        <div class="innerContainer">
            <table>
                <tr>
                    <th class="thInfo">Имя</th>
                    <th class="thInfo">Фамилия</th>
                    <th class="thInfo">Роль</th>
                    <th class="thInfo">Email</th>
                    <th>Контракты</th>
                </tr>
            </table>
            <div th:each="client : ${clients}" th:if="${finder.contains('all')}">
                <table>
                    <tr>
                        <td class="tdInfo">
                            <div th:text="${client.getName()}" class="info"></div>
                        </td>
                        <td class="tdInfo">
                            <div th:text="${client.getSurname()}" class="info"></div>
                        </td>
                        <td class="tdInfo">
                            <div th:text="${client.getRoleDTO().getName()}" class="info"></div>
                        </td>
                        <td class="tdInfo">
                            <a th:href="@{/admin/client/{id}(id=${client.getId()})}">
                                <div th:text="${client.getEmail()}" class="info"></div>
                            </a>
                        </td>
                        <td>
                            <div th:if="${client.getContractsDTO().size}!='0'" class="divList">
                                <div th:each="contract : ${client.getContractsDTO()}">
                                    <a th:href="@{/admin/contract/{id}(id=${contract.getContractNumber()})}">
                                        <div th:text="${contract.getContractNumber()}" class="infoList"></div>
                                    </a>
                                </div>
                            </div>
                            <div th:if="${client.getContractsDTO().size}=='0'">
                                Контрактов нет!
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:each="client : ${clients}" th:if="${!finder.contains('all')}">
                <table>
                    <tr>
                        <td class="tdInfo">
                            <div th:text="${client.getName()}" class="info"></div>
                        </td>
                        <td class="tdInfo">
                            <div th:text="${client.getSurname()}" class="info"></div>
                        </td>
                        <td class="tdInfo">
                            <div th:text="${client.getRoleDTO().getName()}" class="info"></div>
                        </td>
                        <td class="tdInfo">
                            <a th:href="@{/admin/client/{id}(id=${client.getId()})}">
                                <div th:text="${client.getEmail()}" class="info"></div>
                            </a>
                        </td>
                        <td>
                            <div class="divList">
                                <div th:each="contract : ${client.getContractsDTO()}">
                                    <a th:href="@{/admin/contract/{id}(id=${contract.getContractNumber()})}">
                                        <div th:text="${contract.getContractNumber()}" class="infoList"
                                             th:if="${contract.getContractNumber().contains(finder)}"></div>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>