<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/optionsAdmin.css">
</head>
<body>
<header>
    <button onclick="location.href='/home'">Домашняя</button>
    <button onclick="location.href='/admin/clients'">Пользователи</button>
    <button onclick="location.href='/admin/tariffs'">Тарифы</button>
    <button onclick="location.href='/admin/options'">Опции</button>
    <button onclick="location.href='/admin/conclusionContract'">Заключение контракта</button>
    <form th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main>
    <div class="outerDiv">
        <div>Опции:</div>
        <div th:each="option : ${options}">
            <table>
                <tr>
                    <td>
                        <div th:text="${option.getName()}"></div>
                    </td>
                    <td>
                        <div th:text="${option.getPayment()}"></div>
                    </td>
                    <td>
                        <div th:text="${option.getConnectionPrice()}"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="outerDiv">
        <div>Новая опция</div>
        <form th:method="POST" th:action="@{/admin/createOption}">
            <input type="text" placeholder="Название" name="name">
            <input type="text" placeholder="Платеж" name="payment">
            <input type="text" placeholder="Стоимость подключения" name="connectionPrice">
            <button>Создать</button>
        </form>
    </div>
</main>
</body>
</html>