<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/tariffsAdmin.css">
</head>
<body>
<header>
    <button onclick="location.href='/home'">Домашняя</button>
    <button onclick="location.href='/admin/clients'">Пользователи</button>
    <button onclick="location.href='/admin/tariffs'">Тарифы</button>
    <button onclick="location.href='/admin/options'">Опции</button>
    <button onclick="location.href='/admin/conclusionContract'">Заключение контракта</button>
    <form th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main>
    <div>
        <div class="titleInfo">Тарифы:</div>
        <div class="outerDiv">
            <table>
                <th>Название</th>
                <th>Платеж</th>
                <th>Опции</th>
                <th>Контракты</th>
                <th>Операция</th>
            </table>
            <div th:each="tariff : ${tariffs}">
                <table>
                    <tr>
                        <td>
                            <div th:text="${tariff.getName()}"></div>
                        </td>
                        <td>
                            <div th:text="${tariff.getPayment()}"></div>
                        </td>
                        <td>
                            <div class="listOfSomething">
                                <div th:each="option : ${tariff.getOptionsDTO()}">
                                    <div th:text="${option.getName()}"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="useful" th:if="${tariff.getContractsDTO().size()!=0}">
                                Используется
                            </div>
                            <div th:if="${tariff.getContractsDTO().size()==0}" class="useless">
                                Не используется
                            </div>
                        </td>
                        <td>
                            <form th:method="GET" th:action="@{/admin/changeTariff/{id}(id=${tariff.getName()})}">
                                <button class="buttons">Изменить</button>
                            </form>
                            <form th:method="POST" th:action="@{/admin/deleteTariff}">
                                <input hidden th:value="${tariff.getName()}" name="nameTariffToDelete">
                                <button class="buttons">Удалить</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${!mayBeDelete}">
            <div class="errorInfo">Тариф не может быть удален, пока есть использующие его номера</div>
        </div>
    </div>
    <div>
        <div class="titleInfo">Создать тариф:</div>
        <div class="outerDiv">
            <form th:method="POST" th:action="@{/admin/createTariff}" class="formForSave">
                <div class="titleCreates">Введите данные тарифа:</div>
                <div>
                    <input type="text" placeholder="Название" name="name" class="createInput" required>
                    <input type="text" placeholder="Платеж" name="payment" class="createInput" required>
                </div>
                <div class="titleCreates">Выберите опции тарифа:</div>
                <div class="optionListToCreate">
                    <div th:each="option : ${options}">
                        <table class="optionTableToCreate">
                            <tr>
                                <td>
                                    <label th:text="${option.getName()}"></label>
                                </td>
                                <td>
                                    <input type="checkbox" th:value="${option.getName()}" name="options">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="createButton">Создать</button>
            </form>
        </div>
        <div th:if="${!mayBeSave}">
            <div class="warningInfo">Невозможно создать тариф</div>
        </div>
    </div>
</main>
</body>
</html>