<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изменение</title>
    <link rel="stylesheet" type="text/css" href="../css/editContract.css">
</head>
<body>
<header>
    <button onclick="location.href='/home'">Домашняя</button>
    <button onclick="location.href='/client/contracts'">Мои контракты</button>
    <button onclick="location.href='/client/tariffs'">Тарифы</button>
    <button>Корзина</button>
    <form th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main>
    <form th:method="POST" th:action="@{/client/saveEdit}">
        <div class="divFormChange">
            <div class="divFormChangeOuter">
                <div class="divFormChangeInnerTitle">
                    <div class="headTitle">Контракт:</div>
                    <div class="title" th:text="'Номер: ' + ${contract.getContractNumber()}"></div>
                    <div class="title" th:text="'Тариф: ' + ${contract.getTariffDTO().getName()}"></div>
                    <div class="title" th:text="'Статус: ' + ${contract.getStatus()}"></div>
                </div>
                <div class="divFormChangeInnerOptionDelete">
                    <div class="optionDeleteTitle">Удалить дополнительные опции контракта:</div>
                    <div id="divAddedOptionsDelete">
                        <input hidden th:value="${contract.getContractNumber()}" name="contractNumber">
                        <div th:each="addedOption : ${contract.getOptionsDTO()}" class="divOptionToDelete">
                            <table>
                                <tr>
                                    <td>
                                        <div th:text="${addedOption.getName()}" class="contractOptionNames"></div>
                                    </td>
                                    <td>
                                        <input type="checkbox" th:value="${addedOption.getName()}"
                                               name="optionsToDelete">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="divButton">
                    <button class="changeButton">Внести изменения</button>
                </div>
            </div>
            <div class="divFormChangeOuter">
                <div class="headTitle">Выберите тариф</div>
                <div class="divFormChangeInner">
                    <div th:each="tariff : ${tariffs}">
                        <table class="tableTariffs"
                               th:if="${!(tariff.getName().equals(contract.getTariffDTO().getName()))}">
                            <tr>
                                <td class="titleTd">Название</td>
                                <td class="titleTd">Цена</td>
                            </tr>
                            <tr>
                                <td>
                                    <div th:text="${tariff.getName()}"></div>
                                </td>
                                <td>
                                    <div th:text="${tariff.getPayment()}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="titleTd" colspan="2">Опции тарифа</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="listOfOptionsTd">
                                    <div class="listOfOptions">
                                        <ul>
                                            <div th:each="option : ${tariff.getOptionsDTO()}">
                                                <li>
                                                    <div th:text="${option.getName()}"></div>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="radioLabelTd">
                                    <div>
                                        <label for="${tariff.getName()}" class="radioLabel">Выбрать</label>
                                        <input name="tariffChoice" type="radio" id="${tariff.getName()}"
                                               th:value="${tariff.getName()}" class="radioInput">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="headTitle">Выберите дополнительные опции</div>
                <div class="divFormChangeInner">
                    <div id="options" th:each="option : ${options}" class="divWithTableOptions">
                        <table class="tableOptions">
                            <tr>
                                <td>
                                    <div th:text="${option.getName()}"></div>
                                </td>
                                <td>
                                    <div>
                                        <input type="checkbox" th:id="${option.getName()}" name="option"
                                               th:value="${option.getName()}" class="allOptionsName" onclick="editStatus(value)">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="ifNewOptionsEmpty">
                        Нечего добавить.
                        <br>
                        Контракт имеет все возможные опции.
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
<script th:inline="javascript">

    /*<![CDATA[*/
    let together = /*[[${together}]]*/ "Test";
    /*]]>*/

    /*<![CDATA[*/
    let apart = /*[[${apart}]]*/ "Test";
    /*]]>*/

</script>
<script src="/js/editContract.js"></script>
</body>
</html>