<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/editAdmin.css">
</head>
<body>
<header>
    <button onclick="location.href='/home'">Домашняя</button>
    <button onclick="location.href='/admin/clients'">Пользователи</button>
    <button onclick="location.href='/admin/tariffs'">Тарифы</button>
    <button onclick="location.href='/admin/options'">Опции</button>
    <button onclick="location.href='/admin/conclusionContract'">Заключение контракта</button>
    <form th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main>
    <div class="divOuter">
        <form th:method="POST" th:action="@{/admin/edit}">
            <table>
                <tr>
                    <td>
                        <div th:text="'Имя: '"></div>
                    </td>
                    <td>
                        <input type="text" th:value="${client.getName()}" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="'Фамилия: '"></div>
                    </td>
                    <td>
                        <input type="text" th:value="${client.getSurname()}" name="surname"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="'Дата рождения: '"></div>
                    </td>
                    <td>
                        <input type="date" th:value="${client.getBirthday()}" name="birthday"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="'Паспортные данные: '"></div>
                    </td>
                    <td>
                        <input type="text" th:value="${client.getPassport()}" name="passport">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="'Адрес: '"></div>
                    </td>
                    <td>
                        <input type="text" th:value="${client.getAddress()}" name="address">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="'Пароль: '"></div>
                    </td>
                    <td>
                        <input type="text" name="password">
                    </td>
                </tr>
            </table>
            <button>Внести изменения</button>
        </form>
    </div>
</main>
</body>
</html>