<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
<header>
    <button th:if="${!isLock}" onclick="location.href='/home'">Домашняя</button>
    <button th:if="${!isLock}" onclick="location.href='/client/contracts'">Мои контракты</button>
    <button th:if="${!isLock}" onclick="location.href='/client/tariffs'">Тарифы</button>
    <button th:if="${!isLock}"> Корзина</button>
    <form th:if="${!isLock}" th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
    <button th:if="${isLock}">Домашняя</button>
    <button th:if="${isLock}">Мои контракты</button>
    <button th:if="${isLock}">Тарифы</button>
    <button th:if="${isLock}"> Корзина</button>
    <form th:if="${isLock}" th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main>
    <div class="divOuter">
        <div th:if="${isLock}" class="lockNote">
            Вы были заблокированы администратором.
            <br>
            Ваши возможности ограничены.
        </div>
        <div class="title">Ваши данные:</div>
        <table>
            <tr>
                <td>
                    <div th:text="'Имя: '"></div>
                </td>
                <td>
                    <div th:text="${client.getName()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Фамилия: '"></div>
                </td>
                <td>
                    <div th:text="${client.getSurname()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Дата рождения: '"></div>
                </td>
                <td>
                    <div th:text="${client.getBirthday()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Паспортные данные: '"></div>
                </td>
                <td>
                    <div th:text="${client.getPassport()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Адрес: '"></div>
                </td>
                <td>
                    <div th:text="${client.getAddress()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Почта: '"></div>
                </td>
                <td>
                    <div th:text="${client.getEmail()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Роль: '"></div>
                </td>
                <td>
                    <div th:text="${client.getRoleDTO().getName()}"></div>
                </td>
            </tr>
        </table>
        <button th:if="${!isLock}" onclick="location.href='/client/editClient'">Изменить</button>
        <button th:if="${isLock}">Изменить</button>
    </div>
</main>
</body>
</html>