<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
<header>
    <button onclick="location.href='/home'">Домашняя</button>
    <button onclick="location.href='/client/contracts'">Мои контракты</button>
    <button onclick="location.href='/client/tariffs'">Тарифы</button>
    <button>Корзина</button>
    <form th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main></main>
</body>
</html>