<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img th:src="@{images/3.png}" class="titleImg">
    <div>eCare</div>
</header>
<div id="all">
    <div class="divWithForm">
        <div class="divErrors">
            <div th:if="${param.logout}" class="alert alert-success">
                Вы вышли из системы
            </div>
        </div>
        <form name="f" th:action="@{/login}" method="post">
            <div id="beforeTable">Авторизация</div>
            <table>
                <tr>
                    <td class="tdWithIcon">
                        <div class="divWithIcon">
                            <img id="firstImg" th:src="@{images/1.png}">
                        </div>
                        <label hidden for="user">Email</label>
                        <input type="text" id="user" name="username" placeholder="Email" class="inputWithIcon">
                    </td>
                </tr>
                <tr>
                    <td class="tdWithIcon">
                        <div class="divWithIcon">
                            <img id="secondImg" th:src="@{images/2.png}">
                        </div>
                        <label hidden for="pass">Пароль</label>
                        <input type="password" id="pass" name="password" placeholder="Пароль" class="inputWithIcon"/>
                    </td>
                </tr>
            </table>
            <div class="alert alert-error">
                <div th:if="${param.error}">
                    Неправильные Email или пароль.
                </div>
            </div>
            <div class="form-actions" id="div">
                <button type="submit" class="btn" id="signInButton">Войти</button>
            </div>
            <div id="toSignUp">Нет аккаунта? <a href="/signup">Зарегистрируйтесь</a></div>
        </form>
    </div>
    </div>
<footer></footer>
</body>
</html>