<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/showClientToAdmin.css">
</head>
<body>
<header>
    <button onclick="location.href='/home'">Домашняя</button>
    <button onclick="location.href='/admin/clients'">Пользователи</button>
    <button onclick="location.href='/admin/tariffs'">Тарифы</button>
    <button onclick="location.href='/admin/options'">Опции</button>
    <button onclick="location.href='/admin/conclusionContract'">Заключение контракта</button>
    <form th:method="POST" th:action="@{/logout}">
        <button>Выход</button>
    </form>
</header>
<main>
    <div class="DivShowClient">
        <div th:if="${client.getRoleDTO().getName().contains('ADMIN')}" class="infoAdmin">
            Данный пользователь является администратором
        </div>
        <div th:if="${isLock}" class="lockNote">Этот клиент заблокирован.</div>
        <div th:if="${client.getRoleDTO().getName().contains('USER')}" class="infoClient">
            Данные пользователя
        </div>
        <table>
            <tr>
                <td>
                    <div th:text="'Имя:'"></div>
                </td>
                <td>
                    <div th:text="${client.getName()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Фамилия:'"></div>
                </td>
                <td>
                    <div th:text="${client.getSurname()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Дата рождения:'"></div>
                </td>
                <td>
                    <div th:if="${client.getBirthday() == null}" th:text="'Не указано'"></div>
                    <div th:if="${!(client.getBirthday() == null)}" th:text="${client.getBirthday()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Адрес:'"></div>
                </td>
                <td>
                    <div th:if="${client.getAddress() == null}" th:text="'Не указано'"></div>
                    <div th:if="${!(client.getAddress() == null)}" th:text="${client.getAddress()}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="'Почта:'"></div>
                </td>
                <td>
                    <div th:text="${client.getEmail()}"></div>
                </td>
            </tr>
        </table>
        <div th:if="${client.getRoleDTO().getName().contains('USER')}" class="buttons">
            <form th:method="POST" th:action="@{/admin/client/{id}(id=${client.getId()})}">
                <button id="buttonLock" name="isLock" value="lock">Заблокировать</button>
                <button id="buttonUnlock" name="isLock" value="unlock">Разблокировать</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>