<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
    <link rel="stylesheet" type="text/css" href="../css/tariffsClient.css">
</head>
<body>
<header>
    <div class="brandTitle">
        <img th:src="@{/images/3.png}" class="titleImg">
        <div id="headerText">eCare</div>
    </div>
    <button onclick="location.href='/home'"><img th:src="@{/images/4.png}" class="menuImg">Домашняя
    </button>
    <button onclick="location.href='/client/contracts'"><img th:src="@{/images/7.png}"
                                                             class="menuImg">Мои контракты
    </button>
    <button onclick="location.href='/client/tariffs'"><img th:src="@{/images/8.png}" class="menuImg">Опции
        и тарифы
    </button>
    <button><img th:src="@{/images/12.png}" class="menuImg">Корзина</button>
    <div class="mover"></div>
    <form th:method="POST" th:action="@{/logout}">
        <button><img th:src="@{/images/6.png}" class="menuImg">Выход</button>
    </form>
</header>
<main>
    <div class="outerDiv">
        <div class="divTariffsTitle">Тарифы:</div>
        <div class="divFormChangeInner">
            <div th:each="tariff : ${tariffs}" class="divTariffs">
                <table class="tableTariffs">
                    <tr>
                        <td class="titleTd">Название:</td>
                        <td class="titleTd">Цена:</td>
                    </tr>
                    <tr>
                        <td>
                            <div th:text="${tariff.getName()}"></div>
                        </td>
                        <td>
                            <div th:text="${tariff.getPayment()}"></div>
                        </td>
                    </tr>
                </table>
                <hr class="hr">
                <div class="headTitle">Опции тарифа:</div>
                <hr class="hr">
                <div class="listOfOptions">
                    <ul>
                        <div th:each="option : ${tariff.getOptionsDTO()}">
                            <li>
                                <div th:text="${option.getName()}"></div>
                            </li>
                        </div>
                    </ul>
                </div>
                <hr class="hr">
            </div>
        </div>
    </div>
    <div class="outerDiv">
        <div class="caption">Опции:</div>
        <div class="innerDiv">
            <table class="headTableOptions">
                <th>Название</th>
                <th>Платеж</th>
                <th>Стоимость подключения</th>
            </table>
            <div th:each="option : ${options}">
                <table>
                    <tr>
                        <td>
                            <div th:text="${option.getName()}" class="infoList"></div>
                        </td>
                        <td>
                            <div th:text="${option.getPayment()}" class="infoList"></div>
                        </td>
                        <td>
                            <div th:text="${option.getConnectionPrice()}" class="infoList"></div>
                        </td>
                    </tr>
                </table>
                <hr class="hr">
            </div>
        </div>
    </div>
</main>
</body>
</html>