<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td th:text="${client.getName()} + ' ' + ${client.getSurname()}"></td>
            <td th:text="${client.getRoleDTO().getName()}"></td>
        </tr>
        <tr>
            <td th:text="${client.getAddress()}"></td>
            <td th:text="${client.getEmail()}"></td>
        </tr>
        <tr>
            <div th:each= "contract : ${client.getContractsDTO()}">
                <table>
                    <tr>
                        <td th:text="'Number: ' + ${contract.getContract_number()} +', status: ' + ${contract.getStatus()}"></td>
                    </tr>
                </table>
            </div>
        </tr>
    </table>
</div>
<button onclick="location.href='/home'" >go Home</button>
</body>
</html>